body {
    margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e3e3e;
	background-color: #2a2727;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
a {
    text-decoration:none;
}
#main{
margin:0 auto;
padding-top:6px;
margin-bottom:0;
}
#header {
 margin:0 auto;
 height:120px;
 width:1003px;
 
}
#menu {
  width:950px;
  height:38px;
}
#menu a {
  float:right;
  font-size:15px;
  color:#fff;
  font-weight:bold;
  text-decoration:none;
  padding-left:20px;
  padding-right:20px;
  height:28px;
  padding-top:10px;
}
#menu a:hover {
  background:url() ;
  color:#96ED00;
}

#logoBlock {
   float:left;
   width:255px;
   padding-left:135px;
   padding-top:10px;
   height:79px;
}
#logoBlock h1{
  font-weight:bold;
 font-family: "Trebuchet MS";
 color:#fff;
 font-size:41px;
  margin:0;
  line-height:1.0em;
}

#navBlock h1 {
	float:left;
	width:587px;
	padding-left:26px;
	padding-top:5px;
	height:84px;
 }
 #navBlock h3{
   font-weight:bold;
  font-family: "Trebuchet MS";
  color:#81CB02;
  font-size:16px;
   margin:0;
  line-height:1.5em;
  
  }
  #navBlock  {
	margin:0;
	float:left;
	line-height:1.2em;
	font-size:12px;
	width:105px;
	padding-right:35px;
	text-decoration:none;
	color:#575757;
 }
  #navBlock a:hover {
	text-decoration:underline;
	color:#20b134;
  }

#mainCont {
   width:963px;
   clear:both;
   margin:0 auto;
   padding:20px;
   padding-bottom:0;
   height:655px;
}


	
#footer {
	height:98px;
	clear:both;
	margin:0 auto;
	background: url(../images/foooter.gif) repeat-x;	 
}
#footerMenu {
     width:600px;
	 margin:0 auto;
	 clear:both;
	 padding-top:20px;
	 padding-bottom:10px;
}
#footerMenu a{
   padding:20px;
    font-size:15px;
  color:#fff;
  font-weight:bold;
}
#footerMenu a:hover{
   color:#DBDBDB;
}
#footerMenu P {
 margin:0;
}
.rights{
color:#3E3E3E;
text-align:center;
}
.rights p{
color:#3E3E3E;
text-decoration:none;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.rights p:hover{
color:#ffffff;
text-decoration:underline;
}

/* Slideshow container */
.slideshow-container {
	max-width: 367px;
	position: absolute;
	margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  }

  

  .fa {
	display: flex;
	padding: 20px;
	font-size: 15px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: -10px 2px;
	align-items:center;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

  .fa-instagram {
	background: #125688;
	color: white;
  }

  form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }

  #leftCol {
	margin:0;
	float:left;
	width:366px;
	}
	#welcomeBox {
	margin:0;
	padding-right:5px;
	}
	  #welcomeBox h3 {
	   font-family: "Trebuchet MS";
	   color:#9B9B9B;
	   font-size:18px;
	   font-weight:normal;
	   margin:0;
	   line-height:normal;
	  }
	  #welcomeBox p {
		color:#4D4D4D;
		line-height:normal;
		margin:0;
		text-align:justify;
	  }
	   #welcomeBox p span {
		color:#919191;
	  }
		 #welcomeBox h5 {
		color:#919191;
		font-weight:bold;
		margin:0;
		line-height:normal;
		font-size:11px;
		padding-top:6px;
	  }
	  #playListTop {
		padding-top:160px;
		margin:0;
		}
		#playListTop h3 {
		color:#81CB02;
		font-size:12px;
		font-weight:bold;
		height:24px;
		width:337px;
		margin:0;
		padding-left:30px;
		padding-top:8px;
		background: url(../images/playlist_head_bg.gif) no-repeat;
	}
		#playListBody {
		 margin:0;
		 border-left:solid 1px #40434A;
		 border-right:solid 1px #40434A;
		 height:359px;
		 width:365px;
		}
		.head {
		  height:20px;
		  width:365px;
		}
		 .head p {
			font-size:12px;
			font-weight:bold;
			color:#DBDBDB;
			margin:0;
			padding-left:12px;
			 padding-top:5px;
			 float:left;
			}
			.head p.left {
			  width:50px;
	
			}
			 .head p.centr {
			  width:176px;
			  border-left:solid 1px #40434A;
			}
			  .head p.right {
			  width:100px;
			  border-left:solid 1px #40434A;
	
			}
			playListDark {
			height:20px;
			background-color:#464646;
			width:365px;
			}
			.playListDark p {
			  color:#B3B3B3;
			  margin:0;
			  height:20px;
			  float:left;
			  padding-top:3px;
			  background-color:#464646;
			}
			.playListDark p.play {
				background:#464646 url(../images/play.gif) no-repeat 12px center;	
				 width:62px;  
			}
			.playListDark p.track {
				 width:175px;
				  padding-left:12px; 
				  color: red;
				  font-size: small;
			}
			.playListDark p.artist{
			 width:104px;
				   padding-left:12px;
			}
			playListLight {
			height:20px;
			width:365px;
			}
			.playListLight p {
			  color:#B3B3B3;
			  margin:0;
			  height:20px;
			  float:left;
			  padding-top:3px;
			  width:365px;
			}
					.playListLight p.play {
				background: url(../images/play.gif) no-repeat 12px center;	
				 width:62px;  
			}
			.playListLight p.track {
			 width:175px;
			 border-left:solid 1px #40434A;
				   padding-left:12px;
				  color: brown;
				  font-size: small;
			}
			.playListLight p.artist{
			 width:100px;
			 border-left:solid 1px #40434A;
			 padding-left:12px;
			 }
		 p.bot {
		   border-top:solid 1px #40434A;
		   clear:both;
		   margin:0;
		   width:365px;
		   height:1px;
			}
		#playListBot {
		 background: url(../images/play_list_botbg.gif) no-repeat;	
		 height:32px;
		 width:367px;
		}
		
	  #centrCol {
	margin:0;
	float:left;
	width:275px;
	padding-left:10px;
	}
	   .banr{
		 margin:0;
		 width:275px;
	   }
	   #albmBlock {
	   padding-top:20px;
	   margin:0;
	   }
	  
	   
	   
	   
	   .topCont{
		 height:70px;
		 
	   }
	   .topCont h1 {
		 margin:0;
		 float:left;
		 padding:7px;
	   }
		  .topCont a {
		 margin:0;
		 float:left;
		 padding-top:10px;
		 width:135px;
		 line-height:normal;
	   }
			 .topCont a.headings {
		 font-size:18px;
		 font-weight:normal;
		 color:#fff;
		 margin:0;
	   }
		 .topCont a span  {
		 color:#fff;
		 margin:0;
		 font-size:11px;
		 
	   }
			.topCont a:hover {
		 color:#DBDBDB;
	   }
	   .botCont {
		 height:20px;
		 padding-top:2px;
	   }
	   .botCont a {
		 color:#454545;
	   }
		  .botCont a:hover {
		 color:#000000;
	   }
	   .botCont a.left {
		  margin:0;
		  width:123px;
		  float:left;
		  padding-left:35px;
	   }
		  .botCont a.right {
		  margin:0;
		  width:60px;
		  float:left;
	   }
	
	#rightCol {
	margin:0;
	float:left;
	padding-left:28px;
	width:283px;
	}
	#videoBlock {
	height:598px;
	width:283px;
	
	
	}
	 #videoBlockTop {
	   width:303px;
	 }
	#videoBlockTop h3 {
		color:#81CB02;
		font-size:12px;
		font-weight:bold;
		background: url(../images/feat_vid.gif) no-repeat;
		width:303;
		margin:0;
		height:23px;
		padding-left:30px;
		padding-top:8px;
	}
	
	#videoBlockTop p {
		 color:#919191;
		 background: url(../images/videobox_lower.gif) repeat-x;
		 margin:0;
		 border-left:solid 1px #40434A;
		 border-right:solid 1px #40434A;
		 padding:6px;
	}
	  #videoBlockBody {
		margin:0;
		padding:10px;
		background: url(../images/videobox_bg.gif) repeat-y;
		width:283px;
		height:506px;
	 }
	   .vidBox{
		 border-bottom:solid 1px #40434A;
		 padding-top:7px;
		 height:47px;
		 margin:0;
	   }
		.leftBox {
		  float:left;
		  width:194px;
		  }
		  .leftBox p {
			  margin:0;
			line-height:normal;
		  }
		  .leftBox p b {
			color:#9B9B9B;
		  }
		   .leftBox p.dark {
			color:#D2D2D2;
	}
		  .leftBox p.light {
			color:#FCFCFC;
	}
		  p.rightBox{
		  float:left;
		  margin:0;
	   }
	
		  
	
		